{% extends "layout.html.twig" %}

{% block page_title %}
    {{ article.titre | title }}
{% endblock %}

{% set active = app.request.get('category') | capitalize %}

{% block content %}
    <div class="row">
        <!--colleft-->
        <div class="col-md-8 col-sm-12">
            <!--post-detail-->
            <article class="post-detail">
                <h1>{{ article.titre }}</h1>
                <div class="meta-post">
                    <a href="{{ url('index_auteur',{'nom': article.auteur.nom , 'prenom' : article.auteur.prenom }) }}">
                        {{ article.auteur.nom ~ ' ' ~ article.auteur.prenom }}
                    </a>
                    <em></em>
                    <span>
                        {{ article.dateCreation | date('d/m/Y') }}
                    </span>
                </div>

                <p> <span class="dropcap ">N</span> ulla quis lorem ut libero malesuada feugiat. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Sed porttitor lectus nibh.</p>

                {{ article.contenu | raw }}

                <h5 class="text-right font-heading"><strong>{{ article.auteur.nom ~ ' ' ~ article.auteur.prenom }}</strong> </h5>

            </article>
            <!--social-detail-->
            <div class="social-detail">
                <span>   Suivez-nous</span>

                <ul class="list-social-icon">
                    <li>
                        <a href="#" class="facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="google">
                            <i class="fa fa-google"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="youtube">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="pinterest">
                            <i class="fa fa-pinterest-p"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="rss">
                            <i class="fa fa-rss"></i>
                        </a>
                    </li>

                </ul>
            </div>

            <!--related post-->
            <div class="detail-caption">
                <span>  SUGGESTIONS</span>
            </div>
            <section class="spotlight-thumbs spotlight-thumbs-related">
                <div class="row">
                    {% for suggestion in suggestions %}
                        <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="spotlight-item-thumb">
                            <div class="spotlight-item-thumb-img">
                                <a href="{{ url(
                                    'index_article',
                                    {'category': suggestion.category.libelle | slugify,
                                        'slug': suggestion.titre | slugify,
                                        'id': suggestion.id}
                                )}}">
                                    <img alt="" src="{{ asset('images/product/' ~ suggestion.featuredimage) }}">
                                </a>
                                <a href="{{ url('index_category', {'libelle': suggestion.category.libelle }) }}" class="cate-tag">
                                    {{ suggestion.category.libelle }}
                                </a>
                            </div>
                            <h3>
                                <a href="{{ url(
                                    'index_article',
                                    {'category': suggestion.category.libelle | slugify,
                                        'slug': suggestion.titre | slugify,
                                        'id': suggestion.id}
                                )}}">{{ suggestion.titre }}</a>
                            </h3>
                            <div class="meta-post">
                                <a href="{{ url('index_auteur',{'nom': article.auteur.nom , 'prenom' : article.auteur.prenom }) }}">
                                    {{ suggestion.auteur.prenom ~ ' ' ~ suggestion.auteur.nom }}
                                </a>
                                <em></em>
                                <span>
                                    {{ suggestion.datecreation | date('d/m/Y') }}
                                </span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
        {# Sidebar #}
        {{ render(controller('App\\Controller\\TechNews\\IndexController::sidebar')) }}
    </div>
{% endblock %}